
.card {
    border-radius: 12px;
    box-sizing:border-box;
    overflow-y:overlay;
    overflow-wrap:break-word;
    width:250px;
    height:300px;
    background:rgba(255,255,255,0.1);
    padding:10px;
    /* border:2px solid rgba(134, 124, 255, 0.1); */
}

.card.highlighted {
    outline:2px solid var(--tertiary) !important;
    outline-offset:2px;
}

.card.image {
    outline:1px solid oklch(0.66 0.19 345.4 / 1) ;
    display:flex;
    flex-direction: column;
}

.card.image img {
    /* width: 100%;
    height: 100%;
    object-fit: contain; */
    width: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.card.image .object-contain {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    height: 100%;
}

.card.selected {
    background:rgba(255,255,255,0.2);
    border:2px solid var(--primary);
}

.card.analytics {
    outline: 1px solid oklch(0.66 0.19 76.4 / 1);
    border: none;
}
.card.analytics.selected {
    outline: 2px solid oklch(0.66 0.19 76.4 / 1);
    /* box-shadow: inset 0px 0px 16px 0px oklch(0.66 0.19 76.4 / .8); */
    border: none;
}
.card.analytics b {
    text-shadow: 1px 1px oklch(0.66 0.19 76.4 / 1);
}
.card.analytics.selected b {
    text-shadow: 2px 2px oklch(0.66 0.19 76.4 / 1);
}

.card.api pre {
    background: var(--surfaceContainerLowest);
    padding: 6px;
    border:1px solid white;
    box-sizing: border-box;
    width: fit-content;
    min-width: calc(100% - 10px);
    border-radius: 12px;
}

span.hljs-name, .hljs-quote, .hljs-selector-tag, .hljs-selector-pseudo {
    color:var(--onSecondaryContainer)
}

.hljs-string {
    color: var(--primaryFixedDim) !important;
    text-shadow: 1px 1px var(--inversePrimary);
}
.hljs-attr {
    color: var(--inversePrimary) !important;
}

.card.api_path {
    border:1px solid var(--inversePrimary);
    display:flex;
    flex-direction: column;
}

.card.api_path b {
    text-shadow: 1px 1px var(--inversePrimary);
    font-size:1.1em;
}

.card-actions {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card-actions > div {
    z-index:999;
    border: 1px solid var(--primary);
    padding: .25em;
    display:flex;
    position:relative;
    bottom:2em;
    background: var(--surfaceContainerLowest);
    /* margin-bottom:1em; */
    /* margin-left:1em; */
    border-radius: 5px;
}

.action {
    padding: .25em;
    cursor: pointer;
    display:flex;
    position:relative;
}

.action > .tooltip {
    display:none;
}

.action:hover > .tooltip {
    position:absolute;
    display:block;
    width:max-content;
    left:1.5em;
    top:1.5em;
    background:var(--surface);
    border:1px solid var(--onBackground);
    padding:2px;
    padding-inline:.25em;
    font-size:.75em;
    border-radius:4px
    /* content:"Datta"; */

    /* padding: .25em; */
    /* cursor: pointer; */
}