
.card {
    border-radius: 12px;
    box-sizing:border-box;
    overflow-y:overlay;
    overflow-wrap:break-word;
    width:250px;
    height:300px;
    background:rgba(255,255,255,0.1);
    padding:10px;
    border:2px solid rgba(134, 124, 255, 0);
}

.card.image {
    outline:1px solid oklch(0.66 0.19 345.4 / 1) ;
}

.card.selected {
    background:rgba(255,255,255,0.2);
    border:2px solid rgba(134, 124, 255, 1);
}
