.modal-container {
    box-sizing: border-box;
    width: 90%;
    border-radius:1em;
    margin:4em;
    padding:1em;
    background:var(--surface);
    outline: 2px solid var(--onSurface);
    z-index:1000;
    display: flex;
    flex-direction: column;
}

.modal-overlay {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.modal-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resize-bar {
    display: flex;
    cursor:col-resize;
    flex-direction: column;
}

.resize-bar > div {
    background: var(--outline);
    padding:1px;
    cursor:col-resize;
    height:100%;
    margin-inline:1em;
    border-radius:1em;
}

div.resize-handle.grabbing {
    background: var(--primary)
}

.badges {
    display:flex;
    flex-wrap: wrap;
    margin:1em;

}

.badge {
    /* background:var(--primary); */

    margin-bottom: 0.5em;
    text-wrap: nowrap;
    background:var(--surfaceContainerLowest);
    color: var(--onSurface);
    box-shadow:0 0 2px 1px inset var(--primary);
    padding:.25em;
    margin-inline:2px;
    border-radius:5px;
}

.tooltip {
    position:absolute;
    pointer-events: none;
    z-index:2
}

.tooltip > .text {
    position:relative;
    top:2em;
    background:var(--secondary);
    color:var(--onSecondary);
    box-shadow:0 0 10px 1px inset var(--onBackground);
    padding:.25em;
    border-radius: 10px;
}

.modal-container .font-preview span {
    font-family: 'EmbeddedFont';
}

.modal-container .font-preview {
    display:flex;
    flex-direction: column;
}

.modal-container button {
    transition: 70ms all
} 
/*  Slider Button */
.slider {
    text-wrap: nowrap;
    position:relative;
    height: fit-content;
    padding: 6px !important;
    display:flex;
}

.sliderBg {
    /* position:absolute; */
    /* z-index: -1; */
}
.sliderBg > button {
    background: var(--surfaceContainerLowest)
}

.sliderButton {
    position: absolute;
}

.sliderButton .main {
    background:transparent;
    color:transparent;
    z-index: 100;
    border: 2px solid var(--onSecondaryContainer);

    box-shadow: inset 0 0 5px 1px var(--primaryPaletteKeyColor);
    position: relative;
    bottom: 1px;
    /* position: absolute; */
}

.sliderButton .main > *  {
    color:transparent !important;
    text-shadow:none !important;
    z-index: 100;
    /* position: absolute; */
}

.leftspace {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:transparent;
    /* transition: all 1.5s; */
}

.centerspace {
    border-right:transparent;
    border-left:transparent;
    border-radius:0;
}

.rightspace {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left:transparent;
}

.slider .main {
    background: var(--surfaceContainer);
}

/* Panel Stuff */

.panel-header {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    /* padding:1em; */

    box-sizing: border-box;
}

.panel {
    padding:1em;
}

/* Headers */
td.value {
    line-break: anywhere;    
}

td:not(.value){
}

td {
    border:1px solid var(--outline);
    border-radius:5px;
    padding:5px

}

a.properColor > svg {
    color:var(--onBackground) !important;
}