.modal-container {
    box-sizing: border-box;
    width: 95%;
    border-radius:1em;
    margin:2em;
    padding:1em;
    background:var(--surface);
    outline: 2px solid var(--onSurface);
    z-index:1000;
    display: flex;
    flex-direction: column;
}

.modal-overlay {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.resize-bar {
    display: flex;
    cursor:col-resize;
    flex-direction: column;
}

.resize-bar > div {
    background: var(--outline);
    padding:1px;
    cursor:col-resize;
    height:100%;
    margin-inline:1em;
    border-radius:1em;
}

div.resize-handle.grabbing {
    background: var(--primary)
}

.badges {
    display:flex;
    flex-wrap: wrap;
    margin:1em;

}

.badge {
    /* background:var(--primary); */

    margin-bottom: 0.5em;
    text-wrap: nowrap;
    background:var(--surfaceContainerLowest);
    color: var(--onSurface);
    box-shadow:0 0 2px 1px inset var(--primary);
    padding:.25em;
    margin-inline:2px;
    border-radius:5px;
}

.tooltip {
    position:absolute;
    pointer-events: none;
}

.tooltip > .text {
    position:relative;
    top:2em;
    background:var(--secondary);
    color:var(--onSecondary);
    box-shadow:0 0 10px 1px inset var(--onBackground);
    padding:.25em;
    border-radius: 10px;
}