.topbar {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;
    background: #050a16;
    border-bottom: 2px solid white;
    justify-content: space-between;

    align-items: center;
}

.topbar > div {
    width:100%;
    display:flex;
    justify-content: center;

}

.center span {
    max-width:30em;
    text-overflow: ellipsis;
    overflow:hidden;
}

.topbar > .left {
    justify-content: left;
}
.topbar > .right {
    justify-content: right;
}
.left > * {
    margin-right:1em;
}


#filters {
    position: absolute;
    display:flex;
    flex-direction:column;
    padding:1em;
    border-radius:12px; 
    background:#050a16;
    position:absolute;
    top: anchor(--buss);
}
#filters > button {
    display:flex;
    border:none;
    background:rgba(5, 10, 22, 0);
    padding:5px;
    border-radius:5px;
    justify-content: space-between;
}
#filters > button > span {
    margin-right:1em;
}

#filters > button:hover {
    background:rgba(8, 0, 19, 0.9);
    transition:100ms cubic-bezier(0.455, 0.03, 0.515, 0.955) all;
}


#filterButton {
    width:20em;
}
