:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  min-height:100vh;
}
body {
  margin: 0;
  color: #ffffff !important;
  background-color: #010613;
  -webkit-box-shadow: inset 1px 1px 20px -9px #867cff;
  box-shadow: inset 1px 1px 20px -9px #867cff;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


* {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

#topGlow {
  box-shadow: 0px -6px 60px 13px #867cff;
}

h1, h2 {
  text-align: center;
}

.sep {
  height: 4px;
  width: 40vw;
  margin-inline: 30vw;
  border-radius: 3px;
  box-shadow: 0px -1px 20px 3px #867cff;
  background-color: white;
}

p b, a, h1 b, span b {
  text-shadow: 2px 2px #867cff;
}

.sep .darkmode {
  border-top: 2px solid white;
}

/* code {
  padding-inline: .2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 2px;
  color: #9d94ff;
}

code {
  display: inline;
  max-width: fit-content;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  border: 0;
} */

*::-webkit-scrollbar {
  width: 16px;
  overflow: hidden;
}

*::-webkit-scrollbar-track {
  background: #2626265c;
  overflow: hidden;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: #9d94ff;
  border-radius: 100px;
  overflow: hidden;

}
*::-webkit-scrollbar-corner {
  background:transparent;
  display:none;
}

button { 
  border-radius: 5px;
  padding: 10px;
  border:  1px solid rgba(255, 255, 255, 0.2);
  /* margin: 50px; */
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}


.settings-button {
  position: absolute;
  display: flex;
  bottom: 2em;
  right: 2em;
  background: rgb(255 255 255 / 2%);
  border: 1px solid rgb(255 255 255 / 10%);
  align-items: center;
}
.settings-button > * {
  margin-inline:.5em;
}